<h1>メニュー編集</h1>
<!-- form_with部分 -->
<%= form_with model: recipe,local: true do |f| %>
  <h4>画像</h4>
   <%= f.attachment_field :image %>
  <h4>メニュー名</h4>
  <%= f.text_field :title %>
  <h4>分量</h4>
  <%= f.text_area :component %>
  <h4>作り方</h4>
  <%= f.text_area :explanation %>
  <%= f.submit '変更を保存' %>
  <%= link_to '削除する', recipe_path(@recipe.id), method: :delete, class: 'btn btn-primary' %>
  <%#= カテゴリー作るまでコメントアウト　%>
  <%#= f.label :ジャンル %>
  <%#= form.select :category.genre, ['煮物', '料理', 'おやつ'], {include_blank: '---'} %>
<% end %>
