<% if flash[:notice] %>
 <%= flash[:notice] %>
<% end %>

<% if flash[:danger] %>
 <%= flash[:danger] %>
<% end %>
<div class="recipe-introduction">

　　<div class="recipe-introduction-title">
     <%= @recipe.title %>
    </div>

     <div class="recipe-introduction-image">
          <%= attachment_image_tag(@recipe, :image, :fill, 350, 350, fallback: "no_image.jpg") %><br>
          <!--<%= @recipe.user.name %>-->
     </div>


      <div class="recipe-introduction-component">
       <h3>分量</h3>
         <%= @recipe.component %>
      </div>

      <div class="recipe-introduction-introduction">
       <h3>作り方</h3>
         <%= @recipe.explanation %>
       </div>

      <div class = "recipe-introduction-favorite" >
       <tr>
       <% if @recipe.favorited_by?(current_user) %>
        <p>
          <%= link_to recipe_favorites_path(recipe_id: @recipe.id), method: :delete, local: true, class: "recipe-menu-title" do %>
            ♥<%= @recipe.favorites.count %>
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to recipe_favorites_path(recipe_id: @recipe.id), method: :post, local: true, class: "recipe-menu-title" do %>
            ♡<%= @recipe.favorites.count %>
          <% end %>
        </p>
      <% end %>
      </div>
       <div class="far fa-comment-dots recipe-menu-title-comment">
        <%= @recipe.recipe_comments.count %>
       </div>
      </tr>


          <% if @recipe.user == current_user %>
      <td><%= link_to '編集する', edit_recipe_path(@recipe.id) , class: 'btn btn-sm btn-success' %>
          <%= link_to '削除する', recipe_path(@recipe.id), method: :delete, class: 'btn btn-sm btn-danger' %></td>
          <% end %>

      </div>




      <div class ="container">
      <% @recipe_comments.each do |recipe_comment| %>
      <tr id="recipe_comment-<%= recipe_comment.id %>">

        <td><%= link_to user_path(recipe_comment.user) do %>
          <!--<%= attachment_image_tag(recipe_comment.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %><br>-->
          <%= recipe_comment.user.name %>
          <% end %>
        </td>
         <td>
          <%= recipe_comment.recipe_comment %>
         </td>
         <td><% if recipe_comment.user == current_user %>
             <%= link_to "編集する",edit_recipe_recipe_comment_path(@recipe.id, recipe_comment.id) , class: "btn btn-sm btn-success destroy_recipe_#{recipe_comment.id} " %>
             <%= link_to "削除する",recipe_recipe_comment_path(@recipe.id, recipe_comment.id) , method: :delete, local: true, class: "btn btn-sm btn-danger destroy_recipe_#{recipe_comment.id} " %>
             <% end %>
         </td>
      　　</tr>
 　　　　　 <% end %>
　　　</div>
　　　<div class ="container">
       <%= form_with(model:[@recipe,@recipe_comment],local: true, class: :"new-comment") do |f| %>
       <%= f.text_area :recipe_comment,:size=>"60x5"  %>
       <%= f.submit "コメントを作成する" , class: 'btn btn-primary' %>
       <% end %>
      </div>

