<div class="container">
 <div class="low">
   <div class="col-md-10">
<h1>マイページ編集</h1>
<!-- form_with部分 -->
<%= form_with model: @user,local: true do |f| %>
<table class="table">
 
  <div class="form-group">
   <%= f.label :名前 %>
   <%= f.text_field :name %>
  </div> 
  
  <div class="form-group">
   <%= f.label :画像 %>
   <%= f.attachment_field :profile_image %>
  </div>
  
  <div class="form-group">
   <%= f.label :画像 %>
   <%= f.text_field :introduction %>
  </div>
  
  <div class="row">
  <div class="col-md-3 offset-md-6 mt-3">
  <%= f.submit '変更を保存' , class: 'btn btn-success'%>
  <%#= カテゴリー作るまでコメントアウト　%>
  <%#= f.label :ジャンル %>
  <%#= form.select :category.genre, ['煮物', '料理', 'おやつ'], {include_blank: '---'} %>
<% end %>
</table>
</div>
</div>

