<% if flash[:notice] %>
 <%= flash[:notice] %>
<% end %>

<table class="table2">
  <tr>
    <th>
     <%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
    </th>
  </tr>
  <tr>
	  <th>ユーザー名</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>コメント</th>
	  <th><%= @user.introduction %></th>
  </tr>
  <tr>
    <th>
      <% if @user == current_user %>
      <%= link_to '編集する', edit_user_path(@user.id), class: 'btn btn-success' %>
      <% end %>
    </th>
  </tr>
  </table>

 <div class="container">
  <%= link_to '投稿レシピ', user_path(@user.id, sort_type: "post"), class: 'btn btn-primary' %>
  <%= link_to 'いいねの多かった順', user_path(@user.id, sort_type: "favorite"), class: 'btn btn-primary' %></br>
 </div>

<% if @sort_type == "post" %>

<div class="container" "col-3">
  <h2 class="row" >投稿レシピ</h2>
   </div>
<section class="user-recipe-menues">
<% @recipes.each do |recipe| %>
<table class= "d-inline-block ml-3 mr-3">
 <tr>
  <td class="recipe-menu-title2">
    <%= link_to recipe.title, recipe_path(recipe),class: "title-link" %>
  </td>
  </tr>
  <tr>
   <td>
    <%= link_to recipe_path(recipe) do %>
      <%= attachment_image_tag recipe, :image, :fill, 160, 160, fallback: "no_image.jpg" %>
      <!--<%= recipe.user.name %>-->
    <% end %>
   </td>
  </tr>
  <!--<tr>-->
  <!-- <td>分量-->
  <!--  <%= recipe.component %>-->
  <!-- </td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!-- <td>作り方-->
  <!--  <%= recipe.explanation %>-->
  <!-- </td>-->
  <!--</tr>-->
  <tr>
    <td>
      <% if recipe.favorited_by?(current_user) %>
          <%= link_to recipe_favorites_path(recipe_id: recipe.id), method: :delete, local: true do %>
          ♥<%= recipe.favorites.count %>
          <% end %>
        <% else %>
          <%= link_to recipe_favorites_path(recipe_id: recipe.id), method: :post, local: true do %>
          ♡<%= recipe.favorites.count %>
          <% end %>
        <% end %>
     <%= link_to recipe_path(recipe) do %>
     <i class="far fa-comment-dots"></i>
      <% end %>
      <%= recipe.recipe_comments.count %>
     </td>
  <!--<tr>-->
  <!-- <td>所要時間-->
  <!--  <%= recipe.time %>分-->
  <!-- </td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!-- <td>カテゴリー-->
  <!--  <%= recipe.category.name %>-->
  <!-- </td>-->
  <!--</tr>-->
  <tr>
   <td>投稿者:
    <%= link_to user_path(recipe.user) do %>
     <!--<%= attachment_image_tag recipe.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>-->
     <%= recipe.user.name %>
    <% end %>
   </td>
  </tr>
    <tr>
    <td>
      <% if @user == current_user %>
      <%= link_to '編集する', edit_recipe_path(recipe.id) , class: 'btn btn-success' %>
      <%= link_to '削除する', recipe_path(recipe.id), method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </td>
  </tr>
 </table>
<% end %>
<div class="mx-auto">
 <%= paginate @recipes, class: "title-link" %>
 </div>
</section>

<% elsif @sort_type == "favorite" %>


<div class="container" "col-3">
  <h2 class="row" >いいねの多かった順</h2>
  </div>

<section class="user-recipe-menues">
  <% @favorite_recipes.each do |favorite_recipe| %>
<table class= "d-inline-block ml-3 mr-3">
 <tr>
  <td class="recipe-menu-title2">
    <%= link_to favorite_recipe.title, recipe_path(favorite_recipe),class: "title-link" %>
  </td>
  </tr>
  <tr>
   <td>
    <%= link_to user_path(favorite_recipe.user) do %>
      <%= attachment_image_tag favorite_recipe, :image, :fill, 160, 160, fallback: "no_image.jpg" %>
      <!--<%= favorite_recipe.user.name %>-->
    <% end %>
   </td>
  </tr>
  <!--<tr>-->
  <!-- <td>分量-->
  <!--  <%= favorite_recipe.component %>-->
  <!-- </td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!-- <td>作り方-->
  <!--  <%= favorite_recipe.explanation %>-->
  <!-- </td>-->
  <!--</tr>-->
  <tr>
    <td>
      <% if favorite_recipe.favorited_by?(current_user) %>

          <%= link_to recipe_favorites_path(recipe_id: favorite_recipe.id), method: :delete, local: true do %>
            ♥<%= favorite_recipe.favorites.count %>
          <% end %>

        <% else %>

          <%= link_to recipe_favorites_path(recipe_id: favorite_recipe.id), method: :post, local: true do %>
            ♡<%= favorite_recipe.favorites.count %>
          <% end %>

      <% end %>

     <%= link_to recipe_path(favorite_recipe) do %>
     <i class="far fa-comment-dots"></i>
      <% end %>
      <%= favorite_recipe.recipe_comments.count %>
     </td>
    <tr>
    <!--<tr>-->
    <!-- <td>所要時間-->
    <!--  <%= favorite_recipe.time %>分-->
    <!-- </td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!-- <td>カテゴリー-->
    <!--  <%= favorite_recipe.category.name %>-->
    <!-- </td>-->
    <!--</tr>-->
  <tr>
   <td>投稿者:
    <%= link_to user_path(favorite_recipe.user) do %>
     <!--<%= attachment_image_tag favorite_recipe.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>-->
     <%= favorite_recipe.user.name %>
    <% end %>
   </td>
  </tr>
    <td>
      <% if @user == current_user %>
      <%= link_to '編集する', edit_recipe_path(favorite_recipe.id) , class: 'btn btn-success' %>
      <%= link_to '削除する', recipe_path(favorite_recipe.id), method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>
<% end %>
</section>


