<header>
  <!--ナビバーの左にタイトル-->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #228b22;">
   <%= link_to "Recipe House", root_path, class: "navbar-brand text-light fas fa-cookie" %>
    <!--右margin.auto-->
    <ul class="navbar-nav ml-auto list-unstyled p-4">
      <% if user_signed_in? %>
      <!--ユーザーーがログインしている時 -->
        <li class="header-name text-light d-flex align-items-center">ようこそ、<%= current_user.name %>さん！</li>
        <li>
        <li>
         <%= link_to user_path(current_user) do %>
          <button class="btn btn-outline-light btn-sm text-light mx-3" >マイページ</button>
         <% end %>
        </li>
        <li>
         <%= link_to recipes_path do %>
          <button class="btn btn-outline-light btn-sm text-light mx-3" >投稿一覧</button>
         <% end %>
        </li>
      　<li>
         <%= link_to new_recipe_path do %>
          <button class="btn btn-outline-light btn-sm text-light mx-3" >新規投稿</button>
         <% end %>
        </li>
        <li>
         <%= link_to destroy_user_session_path, method: :delete do %>
          <button class="btn btn-outline-light btn-sm text-light mx-3" >ログアウト</button>
         <% end %>
        </li>
      <% else %>
        <li>
         <%= link_to root_path do %>
          <button class="btn btn-outline-light btn-sm text-light mx-3" >Top</button>
         <% end %>
        </li>
        <li>
         <%= link_to homes_about_path do %>
          <button class="btn btn-outline-light btn-sm text-light mx-3" >About</button>
         <% end %>
        </li>
        <li>
         <%= link_to new_user_registration_path do %>
          <button class="btn btn-outline-light btn-sm text-light mx-3" >新規登録</button>
         <% end %>
        </li>
        <li>
         <%= link_to new_user_session_path do %>
          <button class="btn btn-outline-light btn-sm text-light mx-3" >ログイン</button>
         <% end %>
        </li>
      <% end %>
   <% if user_signed_in? %>
  　<div class="search_form">
     <%= form_with url: recipes_path, local: true, method: :get do |f| %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: "カテゴリーを選択してください") %>
      <%#= f.select :time, Recipe.times.keys.to_a {} ,prompt: "時間を選択してください" %>
      <%= f.select :time, [['30分以内',30],['60分以内',60], ['120分以内',120],['180分以内',180],['180分以上',"+180"]], {include_blank: '選択してください'}, { id: "time", class: "time_class" } %>
      <%= f.submit "検索", class: "btn btn-primary" %>
     <% end %>
    </div>
   <% end %>
    </ul>
   </nav>
</header>